{% extends 'emails.html' %}

{% block content %}
<h1> {{email_type}} </h1>
    {% for email in emails %}
        <div class='post'>
            <table>
                <tr>
                    <th>{{ email[0] }}</th> <!-- Subject is the 0-index, sender is 1-index, body is 2-index -->
                    <th>{{ email[1] }}</th>
                </tr>
                <tr>
                    <td>{{ email[2] | safe}}</th>
                </tr>
                
            </table>
        </div>
    {% endfor %}
{% endblock %}