{% extends 'emails.html' %}

{% block content %}
<h1> {{email_type}} </h1>
    {% for email in emails %}
        <div class='post'>
            <table class="table table-hover table-bordered">
                <tr>
                    <th><h2>{{ email[0] }}</h2></th> <!-- Subject is the 0-index, sender is 1-index, body is 2-index -->
                    <th><h4>{{ email[1] }}</h4></th>
                </tr>
                <tr>
                    <td>{{ email[2] | safe}}</th>
                </tr>
                
            </table>
        </div>
    {% endfor %}
{% endblock %}