{% extends 'emails.html' %}

{% block content %}
    <h1>{% block title %} Posts {% endblock %}</h1>
    {% for misc_post in misc %}
        <div class='post'>
            <table>
                <tr>
                    <td>{{ misc_post['subject'] }}</th>
                    <th>{{ misc_post['sender'] }}</th>
                </tr>
                <tr>
                    <td>{{ misc_post['body'] }}</th>
                </tr>
                
            </table>
        </div>
    {% endfor %}
{% endblock %}